* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 100%;
  overflow-y: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("../assets/images/percussion.jpeg");
  background-size: cover;
  -webkit-filter: opacity(45%) saturate(70%);
  filter: opacity(45%) saturate(70%);
  background-color: #444;
  z-index: -1;
}
