.instrument-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
}

.instrument-single {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid;
  height: 10rem;
  width: 10rem;
}
