.instrument-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 1rem;
  column-gap: 0.7rem;
  row-gap: 1rem;
}

.instrument-single {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid;
  height: 8rem;
  max-width: 33vw;
  padding: 0.5rem;
}

@media screen and (min-width: 76.8rem) {
  .instrument-single {
    height: 10rem;
    min-width: 10rem;
  }
}

.key-history-group {
  margin: 3rem 0 0 0;
  text-align: center;
}

.key-history-title {
  margin-bottom: 1.5rem;
}

.playing {
  -webkit-animation: playing 100ms linear forwards;
  animation: playing 100ms linear forwards;
}

@-webkit-keyframes playing {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes playing {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
