p {
  font-size: 1.6rem;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

.title {
  position: relative;
  text-align: center;
  margin-top: auto;
  margin-bottom: 3rem;
}

.instrument-name {
  font-size: 1.8rem;
}

.instrument-key {
  font-size: 1.6rem;
  font-weight: 700;
}
