* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/percussion.webp");
  background-size: cover;
  -webkit-filter: opacity(45%) saturate(70%);
  filter: opacity(45%) saturate(70%);
  background-color: #444;
}
